body{
    background-color: #15181f;
}

h2{
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

button{
    background-color: #8367C7;
    font-family: 'Courier New', Courier, monospace;
    color: white;

    border-radius: 5px;
    border-style: none;
    padding: 8px;
}

button:hover{
    background-color: white;
    color: #8367C7;
}

input{
    padding: 8px;
    color: #8367C7;
    border-radius: 5px;
    border-style: none;
}